@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #cfcfcf;
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 50px;
}

.nav-principal {
    border: 1px solid #3a3a3a;
    border-bottom: white;
    color: white;
    background: linear-gradient(-135deg, #3a3a3a 5px, transparent 0) 0 5px, linear-gradient(135deg, #3a3a3a 5px, #cfcfcf 0) 0 5px;
    background-color: #3a3a3a;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    padding-bottom: 0.2%;
}

.nav-principal ul {
    display: flex;
    padding: 1%;
}

.nav-principal li {
    list-style: none;
    margin-left: 3%;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: white;
}

#icons {
    margin-left: 50%;
}

#icons img {
    width: 20%;
}

main section {
    width: 80%;
    margin: auto;
}

main div div {
    width: 40%;
}

main h1 {

    font-size: 200%;
    margin: 0;
}

#font-family-1 {
    font-family: 'Ms Madi', cursive;
}

main h1:nth-child(2) {
    text-align: right;
}

#text-example {
    width: 30%;
    margin-left: 20%;
    font-size: 80%;
    padding-top: 1.4%;
}

.firt-section>div:nth-child(1) {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    width: 350px;
    height: 500px;
    background: rgba(128, 0, 128, 0.5);
    float: right;
    text-align: center;
    position: relative;
}

.title-text h1 {
    width: 150px;
    font-size: 400%;
    position: absolute;
    top: 20%;
    left: 30%;
}

.image-presentation {
    background-image: url(https://media.gq.com.mx/photos/5edab099799362c9dbb46675/16:9/w_2560%2Cc_limit/RELOJES%2520PARA%2520ARREMANGARTE%2520LA%2520CAMISA.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    border: 25px solid white;
}

span {
    color: #ffc400;
}

#galery {
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 230px;
    margin: 1% 5px;
    padding: 1%;
}

.contenedor p {
    border-bottom: 1px solid black;
    padding-bottom: 5%;
}

.contenedor footer {
    text-align: right;
    list-style: square inside;
}

.contenedor img {
    width: 230px;
    display: inline;
}

.secund-section {
    background: #009e96;
    background: linear-gradient(50deg, #009e96 5px, transparent 0) 0 5px, linear-gradient(-50deg, #009e96 5px, #cfcfcf 0) 0 5px;
    background-color: #009e96;
    background-position: right top;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    padding-top: 0.2%;
    width: 100%;
}

.secund-section>div {
    display: flex;
    width: 80%;
    margin: auto;
}

.secund-section div div {
    padding: 2%;
}

.secund-section div h2 {
    color: white;
    text-align: center;
}

.secund-section div img {
    width: 100%;
    border: 5px solid #16746f;
}

.secund-section div div:nth-child(1) {
    color: white;
}

.secund-section div button {
    width: 60px;
    color: white;
    background: #ffc400;
    border: #ffc400;
    float: right;
}

.secund-section div li {
    margin: 7.3% 0;
    color: #ffc400;
}

.secund-section div {
    color: #9b9b9b;

}

iframe {
    display: block;
    margin: auto;
    width: 250px;
    height: 160px;
}

.secund-section div div:nth-child(3) {
    text-align: right;

}

.section-3,
.section-4 {
    width: 100%;
    background: white;
}

.container {
    display: flex;
}

.container div {
    padding: 2%;
    width: 100%;
}

.container div h1,
.container div h2 {
    display: inline-block;
    margin-right: 2%;
}

.circle {
    width: 40px;
    text-align: center;
    padding: 1%;
    background: #009e96;
    border: 1px solid #009e96;
    border-radius: 25px;
}

.section-4 {
    background: #a39175;
    color: #2b2b2b;
}

.section-4 h2 {
    display: block !important;
    padding-bottom: 5% ;
    border-bottom: 5px solid #cfc49e;
}

.fecha-0 {
    display: flex;
}
.fecha {
    width: 50px;
    text-align: center;
    font-size: 150%;
    background: #cfc49e;
}
.footer {
    background: #3a3a3a;
    color: white;
    font-size: 70%;
}

.footer img {
    width: 50px;
    margin: auto 5%;
}